<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
        <a class="navbar-brand" href="/">РИА "АРС"</a>
        <div class="text-light me-auto ms-3">📍 Санкт-Петербург, ул.Колотушкина 41</div>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="/Companies">Компании</a></li>
            <li class="nav-item"><a class="nav-link" href="/Reviews">Отзывы</a></li>
            <li class="nav-item"><a class="nav-link" href="/Ads">Реклама</a></li>
            <li class="nav-item"><a class="nav-link" href="/Account">Личный кабинет</a></li>
        </ul>
    </nav>

    @if (User.IsInRole("admin"))
    {
        <li class="nav-item"><a class="nav-link" href="/Users">Пользователи</a></li>
        <li class="nav-item"><a class="nav-link" href="/Stats">Статистика сайта</a></li>
    }


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - мое приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
