@model AutoAdsWebApp.Models.AccountViewModel
@{
    Layout = null;
}

<h2>Вход</h2>
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m => m.LoginViewModel.Login, "Логин")
        @Html.TextBoxFor(m => m.LoginViewModel.Login, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LoginViewModel.Login)
    </div>
    <div>
        @Html.LabelFor(m => m.LoginViewModel.Password, "Пароль")
        @Html.PasswordFor(m => m.LoginViewModel.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LoginViewModel.Password)
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
}

<hr />

<h2>Регистрация</h2>
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m => m.RegisterViewModel.Login, "Логин")
        @Html.TextBoxFor(m => m.RegisterViewModel.Login, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.RegisterViewModel.Login)
    </div>
    <div>
        @Html.LabelFor(m => m.RegisterViewModel.Password, "Пароль")
        @Html.PasswordFor(m => m.RegisterViewModel.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.RegisterViewModel.Password)
    </div>
    <div>
        @Html.LabelFor(m => m.RegisterViewModel.RepeatPassword, "Повторите пароль")
        @Html.PasswordFor(m => m.RegisterViewModel.RepeatPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.RegisterViewModel.RepeatPassword)
    </div>
    <button type="submit" class="btn btn-success">Зарегистрироваться</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
